@use 'index' as *;

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: $Lato;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: $Lato;
}
span {
  display: inline-block;
}

h2,
h3 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
